.bg-dumbgrey {
    background-color: #181818;
}

.bg-dumbred {
    background-color: #F74D4D;
}

.bg-dumblgrey {
    background-color: #D2D2D240;
}

.text-dumbgrey {
    color: #181818;
}

.text-dumbred {
    color: #F74D4D;
}

.text-dumblgrey {
    color: #D2D2D240;
}
